.App {
  text-align: center;
}

.rbt-token .btn-close {
    background-color: transparent !important;
    transform: none !important;
}


.table-wrapper {
    position:relative;
    overflow-x: scroll;
}

.csafsearchtable > tbody> tr.table-row.selected {
    background-color: var(--bs-primary) !important;
}

tr.table-row.selected td {
    color: white !important;
}

.table-row.selected:hover{
    filter: brightness(130%);
}
    
.table-row.selected:hover td{
   color:white !important;
}

.csafsearchtable {
  overflow:auto;  
}
.table-wrapper table {
  width:100%;

}

.bg-white {
    background-color: #FFF;
}

.json-e{
    height: 100vh;
}

.h-full {
    height: 100%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-card {
    min-width: 85%;
    max-width: 90%;
}

.form-text {
    display: block;
    padding-bottom: 5px;
}

.content-form {
    text-align: left !important;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:40px;
    justify-content: center;
    color: var(--bs-body-color);
}


/* HTML: <div class="loader"></div> */
.loader {
  height: 80px;
  aspect-ratio: 1;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  --c:no-repeat linear-gradient(#000 0 0);
  background: var(--c), var(--c);
  background-size: 25% 50%;
  animation: l4 1.5s infinite linear;
}
.loader:after {
  transform: scale(-1);
}
@keyframes l4 {
  0%,                                                                                                                                      
  10%  {background-position:33.4% 100%,66.6% 100%}
  40%  {background-position:33.4% 0,100% 100%}
  70%  {background-position:0 100%,66.6% 0}
  100% {background-position:33.4% 100%,66.6% 100%}
}


.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.1) !important;
}

